.article {
  color: #666666;
  h1, h2, h3, h4, h5 {
    color: #382F2D;
  }
  h1, h2 {
    font-family: $font-bold;
    font-size: 18px;
    line-height: 24px;
  }
  h3 {
    font-family: $font-bold;
    font-size: 21px;
    line-height: 24px;
  }
  h4 {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 27px;
  }
  a {
    display: inline-block;
    color: $green;
    &:hover, &:focus {
      color: $green;
    }
  }
  ul, ol {
    padding-left: 17px;
  }

  dt {
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #382F2D;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  dd {
    margin-left: 17px;
  }

  b, strong {
    vertical-align: baseline;
  }
}
