html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $grey-light;
  font-family: $font-body;
  font-size: 21px;
  line-height: 27px;
  color: $blue-dark;
  overflow-x: hidden;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

* {
  @include borderbox();
}

// #site-wrapper {
//   padding-top: 70px;
// }

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 40px;
}

.container--small-gap {
  padding: 0 15px;
}

.container--small {
  max-width: 1010px;
}

.container--lg {
  max-width: 1320px;
}

.container--xl {
  max-width: 1580px;
}

.row--small {
  margin: 0 -10px;
  > div, a {
    padding: 0 10px;
  }
}

hr {
  border-top-color: $grey-light;
}

#mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: $black;
  opacity: 0.7;
}

section {
  padding-top: 90px;
  padding-bottom: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 40px;
    padding-bottom: 40px;
    // box-shadow: none;
  }
}

.top-section {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: $white;
  }
}

.after-breadcrumb-section {
  padding-top: 0;
  @include media-breakpoint-up(md) {
    padding-top: 30px;
  }
}

section {
  &.over-top {
    @include media-breakpoint-up(lg) {
      margin-top: -30px;
    }
  }
}

.page-title {
  @include media-breakpoint-up(md) {
    margin-bottom: 90px;
  }
}

