// .datepicker {
//   width: 300px;
//   th {
//     &.picker-switch {
//       font-size: 26px;
//       line-height: 28px;
//       padding-bottom: 10px;
//       font-family: $font-header;
//       font-weight: normal;
//       text-transform: uppercase;
//     }
//     &.down {
//       font-family: $font-bold;
//       font-weight: normal;
//     }
//   }
//   .day {
//     &.active {
//       background-color: $red;
//       &:hover {
//         background-color: $red;
//       }
//     }
//     &.today {
//       &:before {
//         border-bottom-color: $red;
//       }
//     }
//   }
// }

// .timepicker {
//   width: 250px;
//   a.btn[data-action] {
//     background: none;
//     color: $black;
//     span {
//       font-size: 18px;
//     }
//   }
//   .btn-primary {
//     background-color: $red;
//     &:hover {
//       background-color: $red;
//     }
//   }
// }