.dropdown-menu {
  width: 100%;
  margin: 0;
  box-shadow: none;
  > li {
    &:after {
      display: none;
    }
    > a {
      color: $black;
      padding: 10px 0;
      &:hover {
        color: $black;
        background: none;
      }
    }
  }

  > .active {
    > a, > a:focus, > a:hover {
      color: $black;
      background: none;
    }
  }
}

