fieldset {
  margin-bottom: 25px;
}

label {
  .icon-question-mark {
    font-size: 16px;
    margin-left: 5px;
  }
  > span {
    display: inline;
  }
  > i {
    display: inline-block;
    vertical-align: middle;
  }
}

.form-group {
  margin-bottom: 30px;
}

.form-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.form-control {
  color: $black;
  height: 60px;
  line-height: 20px;
  font-size: 20px;
  color: $blue-dark;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  outline: none;
  // border: 1px solid #666;
  box-shadow: none;
  //ios
  appearance: none;
  outline: 2px solid transparent;
  // &.is-invalid {
  //   outline-color: $red;
  //   outline-offset: -2px;
  //   background-image: url('/img/icons/icon-warning.svg');
  //   background-size: 28px;
  // }
  // &:focus, &.is-invalid:focus {
  //   outline: 2px solid $blue;
  //   box-shadow: none;
  //   outline-offset: -2px;
  //   color: $black;
  // }
}

textarea {
  padding: 25px;
  resize: vertical;
  &.form-control {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  // width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
select:focus {
  // outline: none;
  // box-shadow: none !important;
}

.form-group, .custom-control {
  .invalid-feedback {
    font-size: 14px;
    margin-top: 2px;
    color: $red;
  }
}


.input-group-prepend, .input-group-append {
  .input-group-text {
    width: 40px;
    background: none;
    border-color: #666666;
    border-radius: 5px;
    color: $black;
  }
  i {
    font-size: 25px;
  }
}
.input-group-append {
  .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.input-group-prepend {
  .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}


/* PLACEHOLDER, AUTOFILL
-----------------------------------------------------------------------------*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $grey!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $grey!important;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $grey!important;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $grey!important;
}

.has-error .form-control::-webkit-input-placeholder {
  color:    $red!important;
}
.has-error  .form-control:-moz-placeholder {
  color:    $red!important;
  opacity:  1;
}
.has-error  .form-control::-moz-placeholder {
  color:    $red!important;
  opacity:  1;
}
.has-error  .form-control:-ms-input-placeholder {
  color:   $red!important;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* CUSTOM RADIO, CUSTOM CHECKBOX
-----------------------------------------------------------------------------*/

.custom-control {
  padding-left: 40px;
  .invalid-feedback {
    margin-top: 6px;
  }
}

.custom-control-label {
  &:before {
    background: $white;
    border: none;
  }
  &:before, &:after {
    top: 0;
    left: -40px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: none;
  }
}

.custom-checkbox {
  .custom-control-label {
    &:before {
      border-radius: 5px;
    }
    &:after {
      content: "";
      // @extend .icon;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
    }
  }
  .custom-control-input {
    &:checked ~ .custom-control-label {
      &:after {
        // background-image: none;
        // content: "\e907";
      }
      &:before {
        background: $green;
        border: none;
      }
    }
    // &:focus ~ .custom-control-label {
    //   &:before {
    //     outline-color: $blue;
    //     box-shadow: none;
    //     border-color: transparent;
    //   }
    // }
    // &.is-invalid ~ .custom-control-label {
    //   color: $grey-dark;
    //   &:before {
    //     outline-color: $red;
    //     border-color: transparent;
    //   }
    // }
    // &.is-invalid:focus ~ .custom-control-label {
    //   &:before {
    //     outline-color: $blue;
    //     border-color: transparent;
    //     box-shadow: none;
    //   }
    // }
  }
}

.custom-radio {
  .custom-control-label {
    &:before, &:after {
      border-radius: 50%;
    }
    &:after {
      width: 10px;
      height: 10px;
      left: -25px;
      top: 5px;
    }
  }
  .custom-control-input {
    &:checked ~ .custom-control-label {
      &:after {
        background-image: none;
        background: $grey;
      }
      &:before {
        border-color: #666;
        background: none;
      }
    }
    &:focus ~ .custom-control-label {
      &:before {
        box-shadow: 0 0 0 2px $blue;
        border-color: transparent;
      }
    }
    &.is-invalid ~ .custom-control-label {
      &:before {
        box-shadow: 0 0 0 2px $red;
        border-color: transparent;
      }
    }
    &.is-invalid:focus ~ .custom-control-label {
      &:before {
        box-shadow: 0 0 0 2px $blue;
        border-color: transparent;
      }
    }
  }
}


// file input
.custom-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.iconbtn-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.custom-file-input + label {
  // cursor: pointer;
  // font-size: 1.25em;
  // font-weight: 700;
  // color: white;
  // background-color: black;
  // display: inline-block;
} 

.custom-file-input + label, .custom-file-input + label:hover {
  // background-color: red;
}



// select 2
.select2 {
  width: 100%!important;
  height: 60px;
  .selection {
    width: 100%;
    height: 60px;
  }
  .select2-selection {
    width: 100%;
    min-height: 100%;
    border-radius: 30px!important;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
  }
}

.select2-container--default {
  .select2-selection--multiple {
    .select2-selection__rendered {
      display: flex;
      flex-wrap: nowrap;
      .select2-selection__choice {
        float: none;
        background-color: #DEDFE1;
        border: none;
        height: 40px;
        line-height: 30px;
        padding: 5px 10px;
        color: $blue-dark;
        font-size: 18px;
        margin-top: 10px;
        .select2-selection__choice__remove {
          margin-right: 10px;
          font-size: 20px;
        }
      }
      .select2-search {
        &.select2-search--inline {
          padding-top: 10px;
        }
      } 
    }
  }
  &.select2-container--focus {
    .select2-selection--multiple {
      border: none;
    }
  }
}

.select2-dropdown {
  border-radius: 10px!important;
  border: none;
  overflow: hidden;
  @extend .box-shadow;
  margin-top: 1px;
  .select2-results__option {
    min-height: 60px;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  }
  .select2-results__option--highlighted,
  .select2-results__option[aria-selected=true],
  .select2-results__option--highlighted[aria-selected] {
    background-color: #DEDFE1;
    color: $blue-dark;
  }

  .select2-results {
    &.has-close-btn {
      padding-bottom: 55px;
    }
  } 
  .select2-close {
    position: absolute;
    bottom: 12px;
    left: 25px;
  }
}