img {
  max-width: 100%;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  // background-position: fixed;
  background-size: cover;
}

.img-gradient {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(241,241,241,1) 5%, rgba(255,255,255,0) 100%);
  }
}