// Box-sizing
@mixin borderbox($bb: border-box) {
	-webkit-box-sizing: $bb;
	-moz-box-sizing: $bb;
	-ms-box-sizing: $bb;
	box-sizing: $bb;
}

// No box shadow
@mixin box-shadow-off() {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

// Word wrap
@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

// Text truncate
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Retina images
@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
				 (-o-min-device-pixel-ratio: 2.6/2),
				 (-webkit-min-device-pixel-ratio: 1.3),
				 (min-device-pixel-ratio: 1.3),
				 (min-resolution: 1.3dppx) {
		background-image: url($image);
		background-size: $width $height;
	}
}

// disable text select
@mixin noSelect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


// Linear gradient
@mixin gradient($from, $to, $fromOffset:0%, $toOffset:100%) {
  background-color: mix($from,$to,50%);
  background-image: -ms-linear-gradient(top, $from $fromOffset, $to $toOffset);
  background-image: -moz-linear-gradient(top, $from $fromOffset, $to $toOffset);
  background-image: -o-linear-gradient(top, $from $fromOffset, $to $toOffset);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop($toOffset/100, $to));
  background-image: -webkit-linear-gradient(top, $from $fromOffset, $to $toOffset);
  background-image: linear-gradient(to bottom, $from $fromOffset, $to $toOffset);
}

@mixin gradientH($from, $to, $fromOffset:0%, $toOffset:100%) {
  background-color: mix($from,$to,50%);
  background-image: -ms-linear-gradient(right, $from $fromOffset, $to $toOffset);
  background-image: -moz-linear-gradient(right, $from $fromOffset, $to $toOffset);
  background-image: -o-linear-gradient(right, $from $fromOffset, $to $toOffset);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $from), color-stop($toOffset/100, $to));
  background-image: -webkit-linear-gradient(left, $from $fromOffset, $to $toOffset);
  background-image: linear-gradient(to right, $from $fromOffset, $to $toOffset);
}

