:focus {
  outline: none;
}

span, .inline {
  display: inline-block;
  vertical-align: middle;
}


// Headings
// -------------------------

h1, h2, h3, h4 {
  font-family: $font-header;
  text-transform: uppercase;
  font-weight: normal;
}

h1, .h1 {
  font-family: $font-header;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 30px 0;
}

.h1--big {
  font-size: 50px;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 70px;
  }
}

h2, .h2 {
  font-family: $font-bold;
  font-size: 25px;
  line-height: 1;
  margin: 0 0 15px 0;
}

.h2--big {
  font-family: $font-bold;
  font-size: 35px;
  line-height: 1;
  margin: 0 0 30px 0;
}

h3, .h3 {
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 5px 0;
}

.lead {
  font-family: $font-regular;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 25px;
}

// Body text
// -------------------------

p {
  margin: 0 0 15px 0;
  b, strong, .text--bold, span, a, .link {
    display: inline;
    vertical-align: baseline;
  }
}

b, strong, .text--bold {
  font-family: $font-bold;
  display: inline-block;
  vertical-align: middle;
}



// Contextual colors

.text--white {
  color: white;
}

.text--blue {
  color: $blue;
}

.text--red {
  color: $red;
}

.text--pink {
  color: $pink;
}

.text--grey {
  color: $grey;
}

// Weights

// Sizes
.text--small {
  font-size: 18px;
  line-height: 24px;
}



// Lists
// -------------------------

ul,
ol {
  margin: 0 0 15px 0;
  padding: 0;
  ul,
  ol {
    margin-bottom: 0;
  }
  li {
    span, a {
      display: inline-block;
      vertical-align: middle;
    }
    a {
      color: black;
    }
    > ul, > ol {
      padding-left: 20px;
    }
  }
}

sup {
  font-size: 50%;
  top: -1em;
}

.disable-select {
  @include noSelect();
}

.text-none {
  text-transform: none!important;
}


