.h--100 {
  height: 100%;
}

.w--100 {
  width: 100%;
}

.w--120 {
  width: 100%;
  max-width: 120px;
}

.w--200 {
  width: 100%;
  max-width: 200px;
}

.w--350 {
  width: 100%;
  max-width: 350px;
}

.w--400 {
  width: 100%;
  max-width: 400px;
}

.mw--760 {
  width: 100%;
  max-width: 760px;
}

.flex-1 {
  flex: 1
}

.bg--pink {
  background-color: $pink;
}

.bg--blue-dark {
  background-color: $blue-dark;
}

.rounded {
  border-radius: 10px!important;
}
