/* colors */
$white: #FFFFFF;
$black: #000000;
$pink-light: #F4717B;
$pink: #F14D5A;
$red: #ED2031;
$green: #02927F;
$blue: #06B6CB;
$blue-dark: #242D35;

// $grey-lighter: #C6C6C6;
$grey-light: #F1F1F1;
$grey: #7C8186;
$grey-dark: #333333;
$grey-darker: #191919;
$grey-border: #BDC0C2;
$grey-text: #A7ABAE;

$orange-lighter: #FDF3E5;


  /* urls */
$img_url:     "/img/";
$fonts_url:   "/fonts/";


/* fonts */
$font-body: 'roboto_condensedlight';
$font-header: 'roboto_condensedbold';
$font-bold: 'roboto_condensedbold';
$font-regular: 'roboto_condensedregular';
$font-light: 'roboto_condensedlight';


/* grids */
$screen-xxs-max:      480px;
$screen-xs-min:       481px;