.main-slider {
  .swiper-container {
    .image-wrapper {
      width: 100%;
      height: 210px;
    }
    .description {
      padding: 20px 25px 30px 25px;
      text-align: center;
      .time {
        font-size: 16px;
      }
    }
    .icon {
      width: 60px;
      height: 60px;
      background: red;
      margin-bottom: 15px;
    }
  }
}

.video-slider {
  .image-wrapper {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $white;
    }
  }
  .description {
    text-align: left;
  }
}



