.slick-slider {
  .slick-track {
    display: flex;
  }
  .slick-slide {
    float: none;
    height: auto;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 25px 0 0 0;
    li {
      display: block;
      border-radius: 50%;
      border: 3px solid transparent;
      margin: 0 12px;
      &.slick-active {
        border-color: $green;
        background-color: $green;
        button {
          background-color: $green;
        }
      }
      button {
        display: block;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: $grey-light;
        border: 1px solid $green;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $white;
    @extend .box-shadow;
    cursor: pointer;
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
}
