#site-footer {
  background-color: $white;
  padding: 45px 0 20px 0;
  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
  }
  .nav-item {
    display: block;
    color: $blue;
    padding: 15px 0;
    border-bottom: 1px solid $grey-border;
  }
}
